# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
DDSIP_12*

# Debug files
*.dSYM/
*.su

# Makefile - is normally a link to one of the makefile.*
Makefile

#remains of pdflatex of Manual
Manual/ddsip-man.aux
Manual/ddsip-man.log
Manual/ddsip-man.pdf
